<div style="width:1em"></div>

<a id="github-link"
    class="icon" title="GitHub" aria-label="GitHub"
    href="{{ site.social.github }}">
    {% include svg/github.svg %}
</a>

<a id="twitter-link"
    class="icon" title="Twitter" aria-label="Twitter"
    href="{{ site.social.twitter }}">
    {% include svg/twitter.svg %}
</a>

<!-- https://github.com/keybase/keybase-issues/issues/973#issuecomment-307547386 -->
<a id="keybase-link"
    class="icon" title="Keybase" aria-label="Keybase"
    href="{{ site.social.keybase }}">
    {% include svg/keybase.svg %}
</a>