---
---

@import "hydeout";

#sidebar .site-title {
  &, .home & {
    font-size: 2rem;
  }
}

.image-wrapper {
  text-align: center;

  .image-caption {
    color: $body-muted;
    margin-top: 0;
    font-size: 85%;
  }
}
