---
---

@import "hydeout";

#sidebar .site-title {
  &, .home & {
    font-size: 1.9rem;
  }
}

#profile {
  @media (max-width: $large-breakpoint) {
    width: 50%;
    margin: 0 25% 1rem;
  }
}

.image-wrapper {
  text-align: center;

  .image-caption {
    color: $body-muted;
    margin-top: 0;
    font-size: 85%;
  }
}
