---
---

@import "hydeout";
@import "./fonts.css";

#sidebar {
  &, .home & {
    width: 19rem;
    .site-title {
      font-family: Roboto Slab, serif;
      font-size: 2rem;
    }
    @media (max-width: $large-breakpoint) {
      width: 100%;
    }
    .favicon {
      width: 30px;
      margin: 0.3rem 0 1rem;
    }
  }
}

#profile {
  border-radius: 0;
  @media (max-width: $large-breakpoint) {
    width: 40%;
    margin: 0 30% 1rem;
  }
}

body {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, STIX Two, Noto Sans, sans-serif;
}

code {
  font-family: Julia Mono, Consolas, Courier New, Courier, monospace;
}

.container {
  @media (min-width: $large-breakpoint) {
    margin-left: 19rem;
  }
}

.image-wrapper {
  text-align: center;

  img {
    border-radius: 0;
    display: block;
    margin: 0 auto 1rem;
    @media (max-width: $large-breakpoint) {
      width: 90%;
    }
  }

  .image-caption {
    color: $body-muted;
    margin-top: 0;
    font-size: 85%;
  }
}

.badge {
  border-radius: 0;
  margin: 0;
  display: inline;
}

.content {
  max-width: 45rem;
  text-align: justify;
}

li ul {
  margin-bottom: 0;
}

.highlight pre {
  padding: 0;
}

.jcxz::after {
  content: "cs.ubc.ca";
}

details {
  margin-top: -20px;
  margin-bottom: 20px;
  a {
    cursor: pointer;
  }
  blockquote {
    font-size: smaller;
    text-align: justify;
  }
}

/* https://github.com/w3c/csswg-drafts/issues/1771
iframe {
  height: max-content;
}
*/
